body { 
    background-color: rgb(191, 237, 248);
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p.cita {font-style: italic;
font-size: 8px;}

h2#principal { font-size: 20px;
    color:#b567b5;
}

h2#destacado { 
font-weight: lighter;
font-style: oblique;
}

img.diccionario{ 
    width: 80%;
    height: auto;
}

ol ::marker {
    font-size: 15px;
    font-weight: bolder;
    }

.etimologia { color: #163701;
    background-color: #777;
}

.sinonimo {
color: blue;
font-variant-caps: small-caps;
}
.antonimo {
    color: blue;
    }

    .gramatica 

.gramatica {
    color: #999;
}

.palabras1 { 
    color: #51bbbb;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.palabras2 { 
    color: #51bbbb;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}