Body { 
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
}

.contenedor { 
    width: 60%;
    min-width: 400px;
    max-width: 960px;
    margin: 0 auto;
}

.con-fondo { 
    height: 300px;
    background-image: url(DSC_3192.JPG);
    background-size: cover;
}

.con-fondo {
    color: #fff;
}

/* Caja indicador*/

.indicador {
    height: 40px;
    width: 40px;
    background-color: #000;
    transition: all 1s;
    /* border-radius: 20px;*/ 
    /* border: 2px solid;*/ 
}

.ind1.visible, .ind2.visible { 
   /* width: 100%; se alarga barra*/
   /* transform: rotate(90deg); se gira el cua 90º*/
   margin-left: 90%; /* se mueve el cuadrado*/
   /* border-radius: 50%; se vuelve un circulo */
}

/*** h2 secciones**/ 

h2 {
    color: #aaa;
    transition: all 1s;
}

.seccion1.visible, .seccion2.visible {
color: #000;
}

/* img*/

.filtrada { 
    padding-top: 50px;
    width: 100%;
    filter: brightness(10%);
    transition: all 1s 1ms;
}

.filtrada.visible { 
    filter: brightness(100%);
}