html {

}

body {   
    margin: 0;
    padding: 0;
}

.full {
    width: 100vw;
    height: 300vh;
}

.hero { 
    background-image: url("https://picsum.photos/1000/720");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje { 
background-color: #fff; 
height: 20vh;
}

.mensaje p {
    font-size: 4rem;
    padding: 0;
}

.amarillo {
background-color: #ff0;
}

.verde { 
    background-color: #8d8;
}

.contenedor { 
    width: 60%;
    min-width: 400px;
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 0;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

.resaltado {
    padding: 1rem;
    background-color: #ddd;
    font-size: 20px;
}

.resaltado h3 { 
    font-size: 2em;
}
.resaltado p {

}