body {
   margin: 0;
   padding: 0;
   font-size: 80px; 
}

.contenedor {
    background-color: #ff0;
    height: 800px;
    width: 60%;
    min-width: 400px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    /*Como modificar los elementos de una caja */
    /*por defecto es el eje x si modificamos como luego se hace columnas*/
    flex-direction: column;

    /*Justify-content: flex end (eje x) */
    justify-content: space-evenly;
    
    /*align item: flex end (eje y) */
    align-items: center;
}

footer { 
    background-color: #777;
    height: 200px;
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header { 
    background-color: #000;
    height: 100px;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

header ul {
    width: 100px;
    display: flex;
    justify-content: center;
}

footer img { 
    width: 50px;
    margin: 20px;
    display: flex;
}

.redes { 
    border: 1px solid #000;
    display: flex;
}